<app-navbar></app-navbar>
<br>
<div class="container">
    <h4>Publicar Producto</h4>
    <br>
    <form action="">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Precio</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Categoría</label>
            <select name="" class="form-control">
                <option value="">Seleccionar...</option>
                <option value="">Libros</option>
                <option value="">Componentes electrónicos</option>
                <option value="">Otros</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="">Descripción</label>
            <textarea class="form-control" cols="30" rows="5"></textarea>
        </div>
        
        <div class="form-group">
            <label for="">Imagen</label>
            <input type="file" name="" id="" class="form-control">
        </div>

        <div class="form-group">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/macbook.jpg" alt="" class="center">
            </div>
        </div>
        
        <button class="btn btn-primary btn-block">Publicar</button>
    </form>
    <br>
</div>