<app-navbar></app-navbar>
<br>
<div class="container">
    <h4>Publicar Producto</h4>
    <br>
    <form (ngSubmit)="publish()">
        <div class="form-group">
            <label for="">Nombre</label>
            <input [(ngModel)]="product.name" name="name" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Precio</label>
            <input [(ngModel)]="product.price" name="price" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Categoría</label>
            <select [(ngModel)]="product.categoryID" name="category" class="form-control">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="">Descripción</label>
            <textarea [(ngModel)]="product.description" name="description" class="form-control" cols="30" rows="5"></textarea>
        </div>
        
        <div *ngIf="false" class="form-group">
            <label for="">Imagen</label>
            <input type="file" name="" id="" class="form-control">
        </div>

        <div *ngIf="false" class="form-group">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/macbook.jpg" alt="" class="center">
            </div>
        </div>
        
        <input type="submit" value="Publicar" class="btn btn-primary btn-block">
    </form>
    <br>
</div>