<app-navbar></app-navbar>
<br>
<div class="container">
    <h4>Carrito de compras</h4>
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <tr>
                    <th class="col-6">Producto</th>
                    <th class="col-2">Precio</th>
                    <th class="col-2">Cantidad</th>
                    <th class="col-2"></th>
                </tr>
                <tr>
                    <td>Product name</td>
                    <td>$1000</td>
                    <td>1</td>
                    <td><button class="btn btn-link">Eliminar</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Subtotal: $</b></td>
                </tr>
            </table>
        </div>
        <div class="col">
            <h5>Total: $</h5>
            <button class="btn btn-primary btn-block">Comprar</button>
        </div>
    </div>
</div>
