<app-navbar></app-navbar>
<br>
<div class="container">
    <h4>Carrito de compras</h4>
    <br>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tr *ngFor="let item of items">
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount }}</td>
                </tr>
                <tr>
            </table>
            <div class="row">
                <div class="col">
                    <p class="float-right">
                        <b>Subtotal: $ {{ subtotal }}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <h5>Total: $ {{ subtotal }}</h5>
            <button class="btn btn-primary btn-block">Comprar</button>
        </div>
    </div>
</div>
