<app-navbar></app-navbar>
<br>
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Categoria</a></li>
            <li class="breadcrumb-item"><a href="#">Vendedor</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product name</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <img src="../../../assets/images/macbook.jpg" class="img" alt="">
        </div>
        <div class="col-5">
            <div class="row">
                <h4>Product name</h4>
            </div>
            <div class="row">
                <h5>Price</h5>
            </div>
            <div class="row">
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, atque ipsum! Error corrupti
                    impedit mollitia sint sit inventore necessitatibus dicta suscipit culpa commodi perspiciatis,
                    labore temporibus, harum rerum obcaecati beatae?
                </p>
            </div>
        </div>
        <div class="col-3 ml-3">
            <div class="form-group">
                <label for="">Cantidad</label>
                <input type="number" class="form-control" value="1">
            </div>
            <button class="btn btn-primary btn-block">Agregar al carrito</button>
        </div>
    </div>

    <div class="row">

    </div>
</div>