<div class="section-container">
    <br>
    <form class="form col-md-12 center">
        <h3>Iniciar sesión</h3>

        <div class="form-group">
            <label for="" >Usuario</label>
            <input type="text" class="form-control" name="" id="">
        </div>

        <div class="form-group">
            <label for="" >Contraseña</label>
            <input type="password" class="form-control" name="" id="">
        </div>

        <div class="alert alert-danger" role="alert">
            Error al iniciar sesión.
        </div>

        <div class="form-group">
            <input type="button" value="Ingresar" class="btn btn-primary">
        </div>
    </form>
</div>