<app-navbar></app-navbar>
<br>
<div class="container">
    <form action="" class="">
        <div class="row pt-3 pb-3">
            <div class="col-10">
                <input [(ngModel)]="searchString" type="text" class="form-control" name="search" id="" placeholder="Buscar..." (keyup)="search()">
            </div>
            
            <div class="col-2">
                <input type="button" class="btn btn-primary w-100 float-right" value="Buscar" (click)="search()">
            </div>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <button class="list-group-item list-group-item-action active">Categorias</button>
                <button *ngFor="let category of categories" class="list-group-item list-group-item-action">{{ category.categoryName }}</button>
            </div>
        </div>

        <div class="col-md-10">
            <div *ngFor="let product of products" class="row product-row mb-3">
                <div class="col-md-2">
                    <img src="{{ imageURL }}{{ product.image }}" class="img">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col">
                            <a [routerLink]="['/product', product.id]" class="float-left">{{ product.name }}</a>
                        </div>
                        <div class="col">
                           <p class="float-right">$ {{ product.price | number:'1.2-2' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col">{{ product.description }}</p>
                    </div>
                </div>
            </div>
            <h4 *ngIf="count() == 0">Sin resultados</h4>
        </div>
    </div>

    <!-- TODO: Componente para desplegar productos -->
</div>
