<div class="container">
    <form action="" class="">
        <div class="row pt-3 pb-3">
            <div class="col-10">
                <input type="text" class="form-control form-control-sm" name="" id="" placeholder="Buscar...">
            </div>
            
            <div class="col-2">
                <input type="button" class="btn btn-sm btn-primary w-100 float-right" value="Buscar">
            </div>
        </div>
    </form>

    <!-- TODO: Componente para desplegar productos -->
</div>
